<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EC504 MapApp</display-name>
  <welcome-file-list>
    <welcome-file>MapApp.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>markerServlet</servlet-name>
    <servlet-class>neighbor.Neighbor</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>markerServlet</servlet-name>
    <url-pattern>/markerQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>rectangleServlet</servlet-name>
    <servlet-class>rangesearch.Rangesearch</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
    <servlet-mapping>
    <servlet-name>rectangleServlet</servlet-name>
    <url-pattern>/rectangleQuery</url-pattern>
  </servlet-mapping>
</web-app>